.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  .CalendarBig {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    color: #010000;
  }
  
  input[type="time"] {
    border: none;
    border-bottom: 2px solid #050000;
    padding: 5px;
    font-size: 20px;
    outline: none;
  }
  
  button[type="submit"] {
    border: none;
    background-color: #040000;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #010000;
  }
  
  button[type="submit"]:active {
    background-color: #030000;
  }

  .opt select {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
  }
  .fc-available-date {
    background-color: rgb(4, 0, 0);
  }
  
  .fc-booked-date {
    background-color: red;
  }
  
  